[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Sublime Text
GenericName=Text Editor
Comment=Edit source code

# The path to the folder in which the executable is run
Path=/home/deck

# The executable of the application, possibly with arguments.
Exec=/opt/sublime_text/sublime_text %F

# The name of the icon that will be used to display this entry
Icon=sublime-text

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=TextEditor;Development;Utility;

MimeType=text/plain;

## Arch/SteamDeck
# desktop-file-validate  ~/.local/share/applications/SublimeText.desktop
# update-desktop-database ~/.local/share/applications
